**
!Dockerfile
!pom.xml
!mvnw
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!src/
!src/**
**/application-local.*
**/application-secrets.*
**/.env*
**/*.key
**/*.pem
**/*.p12
**/*.jks
**/*.log
**/*.dump
**/*.backup
**/*.apecan-backup
**/target/**

